.main-header{
    border-bottom: 1px solid #ccc;
    padding: 5px 1px; 
    display: flex; 
    justify-content: space-between; 
    background-color: transparent; 
} 
.div-identify{
    font-size: 5px;
     margin: 5px; 
     display: inline-block; 
} 
.nav-identify ul,
.nav-identify li { 
   margin: 0;
   padding: 0; 
}
.nav-identify li { 
   display: inline-block;
   margin: 30px; 
   font-size: 18px;
}
a{
   text-decoration: none;
   color:black;
}
a:hover{
   color:palevioletred;
}
.bg image{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
h1{
    text-align: center;
}
button{
    margin: 10px 200px 10px 550px;
}